@font-face { /*load customfont*/
    font-family: "customFont";
    src: url('Assets/Font/alagard.ttf') format('truetype');
}

h1 {
    font-family: "customFont";
    font-size: 40px;
    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "customFont";
}

.textBox{
position: relative;
 left: 38vw;
    bottom: 5vh;
}

.roboDesc{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.RobotGladiators {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 100vh;
    max-width: 50vh;
    min-width: 10vh;
}

.Placeholder{ /*placeholder for projects */
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}


.lines{ /* placeholder for banner */
    position: relative;
    right: 10px;
    height: 35px;
}

body {
    background-color: rgb(190, 158, 120);
}

header {
    background-color: rgb(223, 186, 141);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}


header nav {
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding-left: 142px;
    padding-right: 142px;
}

h2 h3 p{
    position: relative;
}

nav .tabs {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.tab {
    display: flex;
}

header nav .tabs .tab a[data-switcher] { /*inactive unhovered tab*/
    display: flex;
    padding: 15px 30px;
    text-decoration: none;
    color: #FFF;
    background-color: rgb(168, 168, 83);
    cursor: pointer; 
}

header nav .tabs .tab:hover a[data-switcher] {  /*when hover on tab*/
    background-color: rgb(124, 124, 59);
}

header nav .tabs .tab.is-active a[data-switcher] { /*active tab*/
    background-color: rgb(221, 221, 105);
    font-weight: 700;
}

main {
    padding-left: 142px;
    padding-right: 142px;
}

.pages {
    margin-top: 50px ;
    padding: 50px 30px;
    border-radius: 8px;
    background-color: rgb(223, 186, 141);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1) ;
}

.pages .page { /*hides pages*/
    display: none;
}

.pages .page.is-active { /*properties for active pages*/
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    column-gap: 20px;
}

@media screen and (max-width: 768px) {
    nav {
      flex-direction: column;
        
        
    }
  }